/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #CBF1FB;
}

/* Logo, Menu and Headings */
header {
    background-color: #65B3C7;
    width: 100%;
    height: 100px;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
    color: #244047;
}

h2 {
    font-size: 125%;
}

/* turn logo into a circle */
#logo {
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 20px;
    line-height: 100px;
    float: left;
    font-size: 250%;
    text-decoration: overline;
    color: #947B3D;
    background-color: #FFF6F2;
    border: #ad5a47 double 7px;
}

#menu {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    padding-left: 15px;
    display: inline;
    font-size: 110%;
    letter-spacing: 2px;
    color: #244047;
    background-color: #65B3C7;
    font-weight: bold;
    border: #1F7085 solid 3px;
}

li {
    float: left;
    margin-right: 25px;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

.active {
    border-bottom: solid 1px #3E6E7A;
}

#menu a:hover {
    border: solid 1px #3E6E7A;
}

#menu {
    line-height: 50px;
}

/* Hero Image */
#hero-section {
    background: url(../images/consumer_board_testing.webp) no-repeat center center;
    height: 400px;
    width: 100%;
    clear: both;
}

#hero-image {
    background: url(../images/water_pipes.jpg) no-repeat center center;
    height: 400px;
    width: 100%;
    clear: both;
}

/* Animation for the Hero Image - fading between two pictures every 6 secs. Code modified from an online blog and credited in readme */
#hero-image {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
  }
  
@keyframes fade {
    0% {
    opacity: 1;
    }
    25% {
    opacity: 1;
    }
    75% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
  }

/* Index About Us*/
#aboutus {
    width: 50%;
    height: 40%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    clear: both;
    font-size: 150%;
    background-color: #65B3C7;
    color: #244047;
    border: #1F7085 solid 4px;
}

#aboutus h2{
   text-decoration: underline;
   font-size: 120%;
}

/* Index Reviews */
#reviews {
    font-size: 120%;
    text-decoration: underline;
    margin: auto;
    text-align: center;
    color: #244047;
    background-color: #65B3C7;
    width: 45%;
    padding: 10px;
    border: #1F7085 solid 3px;
}

/* Services */
#trade-services {
    margin: auto;
    text-align: center;
    clear: both;
    background-color: #65B3C7;
    width: 45%;
    color: #244047;
    border: #1F7085 solid 3px;
}

#trade-services > h2 {
    font-size: 180%;
    text-decoration: underline;
}

#plumbing-electric {
    display: grid;
    grid-template-columns: 1fr 1fr;
    clear:both;
}

#plumbing-services {
    background: url(../images/plumbing_tools.jpg) no-repeat;
    height: 300px;
    width: 100%;
    margin: auto;
}

#electrical-services {
    background: url(../images/electrician_tools.jpg) no-repeat;
    height: 300px;
    width: 100%;
    margin: auto;
}

#plumbing-services, #electrical-services {
    color: #244047;
    font-size: 120%;
}

/*creates an opaque block over background image for list to sit in */
#plumbing-services > h3, #electrical-services > h3 {
    font-size: 150%;
    text-decoration: underline;
    background-color: rgba(101, 179, 199, .7);
    width: 55%;
    height: 20%;
    border: #1F7085 solid 3px;
    border-bottom: none;
}

.service-list {
    display: block;
    background-color: rgba(101, 179, 199, .7);
    width: 55%;
    height: 50%;
    border: #1F7085 solid 3px;
    border-top: none;
}

.service-list > li {
    float: left;
    clear: left;
    list-style-type: square;
    list-style-position: inside;
}

#why-plumb div , #why-elect div {
    width: 40%;
    height: 10%;
}

#why-plumb h4, #why-elect h4 {
    text-decoration: underline;
    font-weight: bold;
}

#service-description {
    margin: auto;
    clear: both;
    width: 100%;
}

#plumb-list {
    text-align: left;
    float: left;
    width: 50%;
    background-color: #65B3C7;
    color: #244047;
    margin: 10px auto;
}

#elec-list {
    text-align: right;
    float: right;
    width: 50%;
    background-color: #65B3C7;
    color: #244047;
    margin: 10px auto;
}

#plumb-list > details, #elec-list > details {
    border: #1F7085 solid 1px;
}

/* Gallery */
/*creates a flexbox gallery allowing for greater responsive design. Code modified from a stackoverflow query and creditied in readme. */
#photos {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
}

#photos > img {
    width: 25%;
    height: auto;
    flex: 0 1 25%;
}

/* Contact Form */
#contact-section {
    clear: both;
    background: url("/assets/images/van.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    position: relative;
}

#contact-form {
    background-color: rgba(101, 179, 199, .7);
    height: 40%;
    width: 50%;
    margin: auto;
    text-align: center;
    color: #244047;
    clear: both;
    position: relative;
    top: 10%;
    padding-top: 1%;
    border: #1F7085 solid 3px;
}

.job-input {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-top: 5px;
}

.quote-button {
    background-color: #3E6E7A;
    color: #7FE1FA;
    font-size: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    margin-top: 10px;
}

.quote-button:hover {
    background-color: #7FE1FA;
    color: #244047;
}

/* Direct Contact and Google Map */
#contact-info > h3, #find-us > h3 {
    text-decoration: underline;
}

#contact-info {
    background-color: #65B3C7;
    width: 50%;
    height: 40%;
    margin: 10px auto;
    clear: both;
    text-align: center;
    color: #244047;
}

.contact-list {
    list-style-type: none;
    width: 100%;
    height: auto;
    background-color: #65B3C7;
    margin-bottom: 10px;
    color: #244047;
}

.contact-list > ul {
    width: 100%;
    background-color: #65B3C7;
    margin: auto;
}

.contact-list > li {
    float: left;
    clear: left;
    font-size: large;
    list-style-position: inside;
    margin: auto;
    padding: 0;
    background-color: #65B3C7;
    width: 100%;
    height: auto;
    color: #244047;
}

#find-us {
    text-align: center;
    background-color: #65B3C7;
    width: 50%;
    height: 30%;
    margin: auto;
    padding-top: 20px;
    clear: both;
    color: #244047;
}

#map {
    width: 50%;
    height: 40%;
    margin: auto;
}

/* Footer */
footer {
 display: table;
 text-align: center;
 margin-top: 10px;
 clear: both;
 width: 100%;
 background-color: #65B3C7;
}

footer > ul {
    list-style-type: none;
}

.medialinks i {
    font-size: 300%;
    margin: 3px;
    padding: 3px;
    color: #3E6E7A;
}

/* 404 Error Page */
#error-image {
    width: 100%;
    height: auto;
    margin: auto;
    clear: both;
}

#error-image > img {
    width: 60%;
    height: auto;
    margin: auto;
    clear: both;
    display: block;
    border: #1F7085 2px solid;
}

#error-message {
    width: 60%;
    height: auto;
    margin: 10px auto;
    text-align: center;
    font-size: x-large;
    background-color: #65B3C7;
    border: #1F7085 solid 2px;
}

#error-message a {
    text-decoration: none;
    color: #244047;
}

#error-message a:hover {
    text-decoration: underline;
}

/* Media Queries */
/* for very small screens 320px. */
@media screen and (max-width: 320px) {

/* Logo and Menu */
#logo {
    margin-left: 25%;
}

#menu {
    margin: auto;
    width: 100%;
    font-size: 80%;
    letter-spacing: 1px;
}

#menu > li {
    padding-left: 3%;
    margin-right: 10px;
    margin-left: 10px;
}

/* About us */
#aboutus {
width: 95%;
height: 30%;
font-size: 120%;

}

/* Index Reviews */
#reviews {
width: 90%;
height: auto;
}

.review-fb {
width: 95%;
height: auto;
}

/* Services */
#trade-services {
width: auto;
}

#plumbing-electric {
display: inline;
clear: both;
}

#plumbing-services > h3, #electrical-services > h3 {
width: 100%;
height: 10%;
}

.service-list {
display: block;
width: 100%;
height: 50%;
}

#why-plumb div , #why-elect div {
    display: inline;
    clear: both;
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

/* Gallery */
#photos > img {
width: 100%;
}

/* Contact Form */
#contact-section {
height: auto;
width: auto;
}

#contact-form {
width: auto;
}

/* Direct Contact and Google Map */
#contact-info {
    width: 80%;
}

#find-us {
    width: 80%;
    height: 40%;
}

#map {
    width: 70%;
    height: 70%;
}

/* Footer */
footer > ul {
    margin: 0;
}

/* 404 Error Page */
#error-image > img {
    width: 100%;
}

#error-message {
    width: 60%;
    font-size: small;
}

}

/* for smaller screens between 321px and 480px */
@media screen and (min-width: 321px) and (max-width: 480px) {

/* Logo and Menu */
#logo {
    margin: 0 34%;
}
    
#menu {
    margin: auto;
    width: 100%;
    font-size: 80%;
    letter-spacing: 1px;
}
    
#menu > li {
    margin: 0 5%;
}
   
/* About us */
#aboutus {
    width: 95%;
    height: 30%;
    font-size: 120%;
}

/* Index Reviews */
#reviews {
    width: 90%;
    height: auto;
}

.review-fb {
    width: 95%;
    height: auto;
}

/* Services */
#trade-services {
    width: auto;
}

#plumbing-electric {
    display: inline;
    clear: both;
}

#plumbing-services > h3, #electrical-services > h3 {
    width: 100%;
    height: 10%;
}

.service-list {
    display: block;
    width: 100%;
    height: 50%;
}

#why-plumb div , #why-elect div {
    display: inline;
    clear: both;
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

/* Gallery */
#photos > img {
    width: 100%;
}

/* Contact Form */
#contact-section {
    height: auto;
    width: auto;
}

#contact-form {
    width: auto;
}

/* Direct Contact and Google Map */
#contact-info {
    width: 80%;
}

#find-us {
    width: 80%;
    height: 40%;
}

#map {
    width: 70%;
    height: 70%;
}

/* Footer */
footer > ul {
    margin: 0;
}

/* 404 Error Page */
#error-image > img {
    width: 100%;
}

#error-message {
    width: 60%;
    font-size: small;
}

}

/* for screen sizes between 481px and 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {

/* Logo and Menu */
#logo {
    clear: both;
    margin: auto;
    text-align: center;
}

#menu {
    width: 100%;
    margin: auto;
}
    
#menu > li {
    margin: 0 5%;
}

/* About Us */   
#aboutus {
    width: 60%;
}

/* Reviews */
#reviews {
    width: 80%;
}

.review-fb {
    width: 80%;
    height: auto;
}

/* Services */
#trade-services {
    margin: auto;
    clear: both;
    width: 70%;
}

#plumbing-electric {
    display: inline;
    clear: both;
}

#plumbing-services > h3, #electrical-services > h3 {
    width: 50%;
    height: 10%;
}
    
.service-list {
    display: block;
    width: 50%;
    height: 50%;
}

#why-plumb div , #why-elect div {
    display: inline;
    clear: both;
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

/* Gallery */
#photos > img {
    width: 50%;
}

/* Contact Form */
#contact-section {
    width: auto;
}

#contact-form {
    width: 60%;
}

/* Direct Contact and Google Map */
#contact-info {
    width: 80%;
}

#find-us {
    width: 80%;
    height: 40%;
}

#map {
    width: 70%;
    height: 70%;
}

/* 404 Error Page */
#error-image > img {
    width: 90%;
}

#error-message {
    width: 60%;
    font-size: medium;
}

}

/* for  screens sizes between 769px and 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {

/* Index */
#reviews{
    width: 55%;
}

.review-fb {
    width: 80%;
    height: auto;
}

/* Services */
#trade-services {
    width: 60%;
}

#plumbing-services > h3, #electrical-services > h3 {
    width: 60%;
}
    
.service-list {
    width: 60%;
}

#photos > img {
    width: 50%;
}

/* Direct Contact and Google Map */
#contact-info {
    width: 80%;
}

#find-us {
    width: 80%;
    height: 40%;
}

#map {
    width: 70%;
    height: 70%;
}

/* 404 Error Page */
#error-image > img {
    width: 80%;
}

#error-message {
    width: 60%;
    font-size: large;
}

}

/* for  screens sizes between 1025px and 1200px */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

.review-fb {
    width: 80%;
    height: auto;
}

#plumbing-services > h3, #electrical-services > h3 {
    font-size: 150%;
    text-decoration: underline;
    width: 60%;
    height: 20%;
}
    
.service-list {
    display: block;
    width: 60%;
    height: 50%;
}

/* Direct Contact and Google Map */
#contact-info {
    width: 80%;
}

#find-us {
    width: 80%;
    height: 40%;
}

#map {
    width: 70%;
    height: 70%;
}

/* 404 Error Page */
#error-image > img {
    width: 80%;
}

#error-message {
    width: 60%;
    font-size: large;
}

}