/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Logo, Menu and Headings */

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
}

h2 {
    font-size: 125%;
}

#logo {
    float: left;
    font-size: 250%;
    color: #787878;
}

#menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 110%;
    letter-spacing: 2px;
}

li {
    float: left;
    margin-right: 25px;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

.active {
    border-bottom: solid 1px #787878;
}

#menu a:hover {
    border: solid 1px #787878;
}

#menu, #logo {
    line-height: 50px;
}

/* Hero Image */

#hero-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    clear:both;
}

#heroimage1 {
    height: 600px;
    background: url('../images/water_pipes.jpg') no-repeat;
    border: solid white 1px;
}

#heroimage2 {
    height: 600px;
    background: url('../images/consumer_board_testing.webp') no-repeat;
    border: solid white 1px;
}


/* Index About Us*/

#aboutus {
    width: 30%;
    height: 120px;
    text-align: center;
    border: solid 1px black;
    margin:auto;
}

#aboutus h2{
   text-decoration: underline;
}

/* Footer */

footer {
    height: 150px;
}

.medialinks {
    text-align: center;
}

.medialinks > li {
    display: inline;
}

.medialinks i {
    font-size: 200%;
    color: #787878;
}